# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Jekyll
/_site*/
/.jekyll-cache/
/.jekyll-metadata

# Bundler
/.bundle/
/vendor/

# Junk files (Linux)
**/*.swp

# Junk files (Windows)
**/Thumbs.db
**/[Dd]esktop.ini
