:root {
  --bg-color: rgba(255, 255, 255, 1);
  --fg-color: rgba(0, 0, 0, 1);
  --fg-color--light: rgba(238, 238, 238, 1);

  --brand-green: rgba(78, 106, 32, 1);
  --brand-purple: rgba(125, 70, 152, 1);
  --brand-teal: rgba(3, 134, 116, 1);
  --brand-yellow: rgba(255, 191, 0, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgba(0, 0, 0, 1);
    --fg-color: rgba(255, 255, 255, 1);

    --brand-green: rgba(0, 255, 0, 1);
    --brand-purple: rgba(138, 43, 226, 1);
    --brand-teal: rgba(111, 200, 183, 1);

    color-scheme: dark;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: var(--bg-color);
  background-color: var(--fg-color);
}

html {
  font-size: 1rem;
}

body {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 62.5rem;
  color: var(--fg-color);
  background-color: var(--bg-color);
  border: 0.3125rem solid var(--brand-purple);
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

header {
  hgroup {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    h1 {
      text-align: center;
      font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Segoe UI Symbol';
      font-size: 2rem;
      color: var(--brand-green);
      margin: 1rem 0;
    }
  }
}

aside {
  text-align: center;

  p {
    margin: 0;
  }

  &.demo {
    width: 75%;
    margin: 1.125rem auto;
    padding: 1.125em;
    border: 0.1875rem solid var(--brand-yellow);
  }
}

p {
  line-height: 1.5;

  &:last-child {
    margin: 0;
  }
}

aside,
p {
  margin: 0;
  margin-bottom: 1.125rem;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0;
  list-style-type: none;

  li {
    line-height: 1.5;

    &::before {
      content: '> ';
    }
  }
}

span {
  color: var(--brand-teal);
}

a {
  color: var(--brand-green);
  text-decoration: underline;

  &:hover,
  &:focus {
    color: var(--fg-color--light);
    background-color: var(--brand-purple);
    text-decoration: none;
  }
}

hr {
  box-sizing: content-box;
  margin: 1rem 0;
  padding: 0;
  height: 0;
  border: 0;
  border-top: 0.1875rem solid var(--brand-purple);
  text-align: center;
}

footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  p {
    margin: 0;
  }
}
